body{
    background-color: rgb(93, 156, 203);
    font: normal 12pt Arial;
}

h1{
    color: white;
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}

section{
    width: 400px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
    margin: auto;   
}